source $HOME/.antidote/antidote.zsh

antidote load

bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

alias vim="nvim"
alias bump="sudo apt update && sudo apt upgrade -y && flatpak update -y"

# Check and source 1Password CLI plugins
if command -v op &> /dev/null; then
    source $HOME/.config/op/plugins.sh
fi

# Initialize Starship prompt if installed
if command -v starship &> /dev/null; then
    eval "$(starship init zsh)"
fi

# Initialize Zoxide if installed
if command -v zoxide &> /dev/null; then
    eval "$(zoxide init zsh)"
fi