// Place your settings in this file to overwrite the default settings
{
    "breadcrumbs.enabled": true, 
    "editor.minimap.enabled": false, 
    "editor.renderWhitespace": "all", 
    "git.autofetch": true, 
    "git.confirmSync": false, 
    "gitlens.showWhatsNewAfterUpgrades": false, 
    "telemetry.enableTelemetry": false, 
    "update.channel": "none", 
    "window.menuBarVisibility": "toggle", 
    "window.zoomLevel": 0, 
{% if (ansible_date_time.hour <= 6) or (ansible_date_time.hour >= 12) %}
    "workbench.colorTheme": "Solarized Dark",
{% else %}
    "workbench.colorTheme": "Solarized Light",
{% endif %}
    "workbench.editor.showTabs": false, 
    "workbench.sideBar.location": "right", 
    "workbench.startupEditor": "newUntitledFile",
    "workbench.startupEditor": "newUntitledFile",
    "files.autoSave": "afterDelay",
    "files.watcherExclude": {
        "**/venv/**": true,
    },
    "search.exclude": {
        "**/venv": true,
    },
}
