// Place your settings in this file to overwrite the default settings
{
    "breadcrumbs.enabled": true, 
    "editor.minimap.enabled": false, 
    "editor.renderWhitespace": "all", 
    "git.autofetch": true, 
    "git.confirmSync": false, 
    "gitlens.showWhatsNewAfterUpgrades": false, 
    "telemetry.enableTelemetry": false, 
    "update.channel": "none", 
    "window.menuBarVisibility": "toggle", 
    "window.zoomLevel": 0, 
    "workbench.colorTheme": "Solarized Light", 
    "workbench.editor.showTabs": false, 
    "workbench.sideBar.location": "right", 
    "workbench.startupEditor": "newUntitledFile"
}
