path+=("/usr/local/go/bin")

source $HOME/.antidote/antidote.zsh

antidote load

bindkey "$terminfo[kcuu1]" history-substring-search-up 
bindkey "$terminfo[kcud1]" history-substring-search-down
bindkey '^[[A' history-substring-search-up 
bindkey '^[[B' history-substring-search-down